.destinations {
	padding: 8rem 0;

	&__swiper {
		margin-bottom: 9.7rem;
	}

	&__box {
		position: relative;
		color: $white-color;
	}

	&__img {
		border-radius: 1.6rem;
	}

	&__info {
		position: absolute;
		bottom: 4rem;
		left: 2rem;
		letter-spacing: 0.5%;
	}

	&__title {
		margin-bottom: 2.2rem;
		font-family: $font-title;
		font-size: 2.4rem;
	}

	&__location {
		display: flex;
		align-items: center;
		gap: 1.6rem;
	}

	&__text {
		font-size: 1.8rem;
		font-weight: 300;
	}
}
