.footer {
	padding: 8rem 0;
	background-color: $accent-dark-color;
	color: $white-color;

	&__brand {
		display: flex;
		flex-direction: column;

		gap: 2.1rem;
	}

	&__copyright {
		font-size: 1.4rem;
	}

	&__columns {
		display: flex;
		flex-direction: column;
		gap: 6rem;
	}

	&__title {
		margin-bottom: 1.6rem;
		font-size: 2.4rem;
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 1.2rem;
	}

	&__link {
		color: $white-color;
		font-size: 1.8rem;

		&:hover {
			color: $accent-color;
		}
	}

	&__socials {
		display: flex;
		gap: 2.4rem;
	}

	&__social_link {
		color: $white-color;

		&:hover {
			color: $accent-color;
		}
	}
}

.addres {
	display: flex;
	flex-direction: column;

	gap: 1.2rem;
	font-size: 1.8rem;

	&__tel {
		color: $white-color;

		&:hover {
			color: $accent-color;
		}
	}

	&__mail {
		color: $white-color;

		&:hover {
			color: $accent-color;
		}
	}
}
