.footer {
	background-color: $accent-dark-color;
	color: $white-color;

	@include mq('desktop', max) {
		padding: 8rem 0;
	}

	@include mq('desktop') {
		padding: 24rem 0 14rem;
	}

	&__brand {
		display: flex;
		flex-direction: column;
		gap: 1.4rem;
	}

	&__copyright {
		font-size: 1.4rem;
		line-height: 1.2;
	}

	&__columns {
		display: flex;

		gap: 6rem;

		@include mq('desktop', max) {
			flex-direction: column;
		}

		@include mq('desktop') {
			justify-content: space-between;
		}
	}

	&__title {
		margin-bottom: 1.9rem;
		font-size: 2.4rem;
		font-weight: 500;

		&--social {
			margin-bottom: 2.5rem;
		}
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 1.2rem;
	}

	&__link {
		color: $white-color;
		font-size: 1.8rem;
		line-height: 1.19;

		&:hover {
			color: $accent-color;
		}
	}

	&__socials {
		display: flex;
		gap: 2.9rem;
	}

	&__social_link {
		color: $white-color;

		&:hover {
			color: $accent-color;
		}
	}
}

.addres {
	display: flex;
	flex-direction: column;

	gap: 1.6rem;
	font-size: 1.8rem;

	&__tel {
		color: $white-color;

		&:hover {
			color: $accent-color;
		}
	}

	&__mail {
		color: $white-color;

		&:hover {
			color: $accent-color;
		}
	}
}
