.header {
	position: fixed;
	width: 100%;
	z-index: 10;
	color: $white-color;

	@include mq('desktop', max) {
		padding: 2.3rem 0 2.4rem;
	}

	@include mq('desktop') {
		padding: 3.3rem 0 2.4rem;
	}

	&.active {
		background: rgba(23, 36, 50, 0.36);
		box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(0.79rem);
		-webkit-backdrop-filter: blur(0.79rem);

		&.menu_open {
			backdrop-filter: none;
			-webkit-backdrop-filter: none;
			background: transparent;
			box-shadow: none;
		}
	}

	&__container {
		@include mq('desktop', max) {
			padding: 0 3.2rem;
		}
	}

	&__content {
		display: flex;
		align-items: center;

		@include mq('desktop', max) {
			justify-content: space-between;
			gap: 2em;
		}

		@include mq('desktop') {
			gap: 25rem;
		}
	}

	&__mobile_menu {
		@include mq('desktop', max) {
			position: fixed;
			top: 0;
			right: 0;
			width: 100%;
			max-width: 400px;
			height: 100vh;
			padding: 10rem 4rem 4rem;
			font-size: 1.8rem;

			background: rgba(23, 36, 50, 0.65);
			box-shadow: -5px 0 30px rgba(0, 0, 0, 0.1);
			backdrop-filter: blur(0.79rem);
			-webkit-backdrop-filter: blur(0.79rem);

			transform: translateX(100%);
			transition: transform 0.4s ease;

			&.open {
				transform: translateX(0);
			}
		}

		@include mq('desktop') {
			display: flex;
			align-items: center;
			gap: 22.8rem;
		}
	}

	&__burger {
		position: relative;
		z-index: 10;

		background-color: transparent;
		padding: 2.5rem 0.5rem;

		@include mq('desktop') {
			display: none;
		}
	}

	&__icon {
		position: relative;
		width: 3.8rem;
		height: 0.2rem;
		background-color: $white-color;
		display: block;
		transition-duration: 0.25s;

		.header__burger:hover & {
			background-color: $accent-color;
		}

		.header__burger.active & {
			transform: rotate(45deg);
		}

		&::before,
		&::after {
			content: '';
			position: absolute;
			left: 0;
			width: 100%;
			height: 0.2rem;
			background-color: $white-color;
			transition-duration: 0.25s;
			.header__burger:hover & {
				background-color: $accent-color;
			}
		}

		&::before {
			bottom: 1rem;

			.header__burger.active & {
				transform: rotate(0);
				top: 0;
			}
		}

		&::after {
			top: 1rem;

			.header__burger.active & {
				top: 0;
				transform: rotate(90deg);
			}
		}
	}

	&__authentication {
		display: flex;

		@include mq('desktop', max) {
			flex-direction: column;
			gap: 2rem;
			width: 100%;
		}

		@include mq('desktop') {
			gap: 1rem;
		}
	}

	&__btn_login,
	&__btn_signup {
		color: $white-color;
		font-size: 2rem;

		@include mq('desktop', max) {
			width: 100%;
			border: 0.1rem solid $accent-color;
			border-radius: 1.2rem;
		}
	}

	&__btn_login {
		padding: 2rem 2.5rem;
		background-color: transparent;

		&:hover {
			background-color: $accent-color;
		}
	}

	&__btn_signup {
		padding: 2rem 3.2rem;
		background-color: $accent-color;

		border-radius: 1.2rem;

		&:hover {
			color: $accent-dark-color;
		}
	}
}

.nav {
	@include mq('desktop', max) {
		display: block;
	}

	@include mq('desktop') {
		position: relative;
	}

	&__list {
		display: flex;

		@include mq('desktop', max) {
			flex-direction: column;
			gap: 2.5rem;
			margin-bottom: 4rem;
		}

		@include mq('desktop') {
			gap: 3.3rem;
			font-size: 2rem;
		}
	}

	&__link {
		color: $white-color;

		&:hover {
			color: $accent-color;
		}
	}

	&__underline {
		@include mq('desktop', max) {
			display: none;
		}

		@include mq('desktop') {
			position: absolute;
			display: block;
			bottom: -0.5rem;
			left: 0;
			height: 0.3rem;
			width: 0;
			background-color: $accent-color;
			transition:
				left 0.38s cubic-bezier(0.25, 1, 0.5, 1),
				width 0.38s cubic-bezier(0.25, 1, 0.5, 1);
		}
	}
}
