.header {
	position: fixed;
	width: 100%;

	color: $white-color;

	@include mq('desktop', max) {
		padding: 2.3rem 0 2.4rem;
	}

	@include mq('desktop') {
		padding: 3.3rem 0 2.4rem;
	}

	&__container {
		@include mq('desktop', max) {
			padding: 0 3.2rem;
		}
	}

	&__content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 6rem;
	}

	&__burger {
		padding: 0;
		color: $white-color;
		background-color: transparent;

		&:hover {
			color: $accent-color;
		}

		@include mq('desktop') {
			display: none;
		}
	}

	&__authentication {
		@include mq('desktop', max) {
			display: none;
		}

		@include mq('desktop') {
			display: flex;
			gap: 1rem;
		}
	}

	&__btn_login {
		padding: 2rem 2.5rem;
		background-color: transparent;
		color: $white-color;
		font-size: 2rem;
	}

	&__btn_signup {
		padding: 2rem 3.2rem;
		background-color: $accent-color;
		color: $white-color;
		font-size: 2rem;
		border-radius: 1.2rem;
	}
}

.nav {
	@include mq('desktop', max) {
		display: none;
	}

	@include mq('desktop') {
		position: relative;
	}

	&__list {
		display: flex;
		gap: 3rem;
		font-size: 2rem;
	}

	&__link {
		color: $white-color;

		&:hover {
			color: $accent-color;
		}
	}

	&__underline {
		position: absolute;
		display: block;
		bottom: -0.5rem;
		left: 0;
		height: 0.3rem;
		width: 0;
		background-color: $accent-color;
		transition:
			left 0.38s cubic-bezier(0.25, 1, 0.5, 1),
			width 0.38s cubic-bezier(0.25, 1, 0.5, 1);
	}
}
