.reviews {
	@include mq('desktop', max) {
		padding: 7.5rem 0 4rem;
	}

	@include mq('desktop') {
		padding: 20rem 0 4rem;
	}

	&__title {
		@include mq('desktop', max) {
			font-size: 4.8rem;
		}
	}

	&__description {
		@include mq('desktop') {
			margin-bottom: 16rem;
		}
	}

	&__swiper {
		@include mq('desktop', max) {
			margin-bottom: 9.8rem;
		}

		@include mq('desktop') {
			margin-bottom: 15.8rem;
		}
	}

	&__slide.swiper-slide {
		@include mq('desktop', max) {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	&__swich {
		@include mq('desktop') {
			position: relative;
			justify-content: right;
		}
	}
}

.review {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 1.9rem;

	border-radius: 1.2rem;
	background-color: $background-gray-color;
	color: $gray-color;
	font-size: 1.8rem;
	line-height: 1.28;

	@include mq('desktop', max) {
		padding: 6rem 2rem 2.9rem;
	}

	@include mq('desktop') {
		padding: 6rem 4rem 3.5rem;
	}

	&__picture {
		position: absolute;

		@include mq('desktop', max) {
			top: -6.5rem;
			left: 2rem;
		}

		@include mq('desktop') {
			top: -6.7rem;
			left: 4rem;
		}
	}

	&__img {
		width: 10rem;
		height: 10rem;
		border-radius: 50%;
	}

	&__title {
		margin-bottom: 1rem;
		font-size: 2.4rem;
		font-family: $font-title;
		line-height: 0.9;
	}
}
