@import 'base/mixins.scss';
@import 'var';

html {
	font-family: $serif-rubik-font;
	font-size: 10px;

	background-color: $white-color;

	// @media (min-width: 360px) {
	// 	font-size: 10px;
	// }

	// @media (min-width: 1920px) {
	// 	font-size: calc(100vw / 1920 * 10);
	// }
}

.container {
	padding: 0 1.6rem;
}

.logo {
	color: $white-color;
	text-decoration: none;
}

.title {
	margin-bottom: 5.2rem;

	font-size: 4rem;
	font-family: $font-title;
	font-weight: 400;
	color: $accent-dark-color;

	&__border {
		display: inline-block;
		padding: 0 0 2rem;
		border-bottom: 3px solid $accent-color;
	}
}

.description {
	margin-bottom: 10rem;
	font-size: 1.8rem;
	font-weight: 400;
	color: $gray-color;
}

.picture {
	display: block;
}

img {
	display: block;
	border-radius: 2.6rem;
	width: 28.8rem;
	height: 32rem;
}

.text {
	@include mq('desktop', max) {
		background-color: $white-color;
	}

	@include mq('desktop') {
		background-color: $black-color;
	}
}

.link {
	text-decoration: none;
}

.swich {
	display: flex;
	justify-content: center;
	gap: 4rem;

	&__btn {
		display: block;
		padding: 0;
		background-color: transparent;
		cursor: pointer;
		border: none;
		color: $accent-dark-color;

		&:hover {
			--color1: #{$accent-color};
		}

		&--right {
			color: $accent-color;

			&:hover {
				--color1: #{$accent-dark-color};
			}
		}
	}
}

.stars {
	display: flex;
	gap: 0.4rem;
	color: $star-color;
}
