@import 'base/mixins.scss';
@import 'var';

html {
	font-family: $serif-rubik-font;
	font-size: 10px;

	background-color: $white-color;

	// @media (min-width: 360px) {
	// 	font-size: 10px;
	// }

	// @media (min-width: 1920px) {
	// 	font-size: calc(100vw / 1920 * 10);
	// }
}

.main {
	overflow: hidden;
}

.container {
	width: 100%;
	max-width: 144rem;
	margin-left: auto;
	margin-right: auto;

	@include mq('desktop', max) {
		padding: 0 1.6rem;
		max-width: 80rem;
	}

	@include mq('desktop') {
		padding: 0 3.2rem;
		max-width: 144rem;
	}
}

.logo {
	position: relative;
	z-index: 10;
	color: $white-color;
	text-decoration: none;

	&__icon {
		@include mq('desktop', max) {
			width: 14rem;
			height: 4.5rem;
		}

		@include mq('desktop') {
			width: 23.4rem;
			height: 5rem;
		}

		&--footer {
			width: 23.5rem;
			height: 4.5rem;
		}
	}
}

.title {
	font-family: $font-title;
	font-weight: 400;
	line-height: 1.32;
	color: $accent-dark-color;

	@include mq('desktop', max) {
		margin-bottom: 3.2rem;
		font-size: 4rem;
	}

	@include mq('desktop') {
		margin-bottom: 3.2rem;
		font-size: 6.4rem;
	}

	&__border {
		display: inline-block;
		padding: 0 0 1.7rem;
		border-bottom: 3px solid $accent-color;
	}
}

.description {
	font-weight: 400;
	line-height: 1.2;
	color: $gray-color;

	@include mq('desktop', max) {
		margin-bottom: 9.9rem;
		font-size: 1.8rem;
	}

	@include mq('desktop') {
		margin-bottom: 9.9rem;
		font-size: 2.4rem;
	}
}

.picture {
	display: block;
}

img {
	display: block;

	@include mq('desktop', max) {
		width: 28.8rem;
		height: 32rem;
	}

	@include mq('desktop') {
		width: 49.7rem;
		height: 66.1rem;
	}
}

.text {
	@include mq('desktop', max) {
		background-color: $white-color;
	}

	@include mq('desktop') {
		background-color: $black-color;
	}
}

.link {
	display: block;
	text-decoration: none;
}

.swich {
	display: flex;
	justify-content: center;
	gap: 4rem;

	@include mq('desktop') {
		position: absolute;
	}

	&__btn {
		padding: 0;
		background-color: transparent;

		color: $accent-dark-color;

		&:hover {
			--color1: #{$accent-color};
		}

		&--right {
			color: $accent-color;

			&:hover {
				--color1: #{$accent-dark-color};
			}
		}
	}

	&__icon {
		padding: 0;
		width: 6.6rem;
		height: 6.6rem;
	}
}

.stars {
	display: flex;
	gap: 0.4rem;
	color: $star-color;
}

.btn {
	display: block;
	border: none;
	cursor: pointer;
}
