$white-color: #fff;
$black-color: #000;
$gray-color: #767e86;

$accent-color: #ff7757;
$accent-light-color: #ffe8d4;
$accent-dark-color: #172432;
$star-color: #ffc107;

$background-color: #fff8f1;
$background-gray-color: #f5f6f7;

$font-title: 'Playfair Display', serif;
$serif-rubik-font: 'Rubik', sans-serif;
